<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="">
    <img src="assets/images/VidMeLogo.png" width="100" height="100" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="!currentUser">

      <li class="nav-item" >
        <a routerLink="/" class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/login" class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a routerLink="/signup" class="nav-link" href="#">Sign Up</a>
      </li>
    </ul>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="currentUser">
      <li class="nav-item">
        <a routerLink="/logout" class="nav-link" href="#">Log Out</a>
      </li>
      <li class="nav-item">
        <a routerLink="/vidmelibrary" class="nav-link" href="#">Vid Me Library</a>
      </li>
      <li >Hello, {{currentUser}}</li>
    </ul>
  </div>
</nav>
