.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /*background-color: #ba4990;*/
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Bahnschrift, "Arial Black";
  color: #b826b8;
  /*border: #f5f8f8 double 2px;*/
}
.signup{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: #b826b8 solid 1px;
  width: 50vw;
  border-radius: 40px;
  background-color: #f5f8f8;
  /*opacity: 0.5;*/
  padding-bottom: 5px;
  text-align: center;
  height: inherit;
}
.login{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: #b826b8 solid 1px;
  width: 50vw;
  border-radius: 40px;
  background-color: #f5f8f8;
  /*opacity: 0.5;*/
  padding: 10px;
text-align: center;
  height: inherit;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Bahnschrift, "Arial Black";
  color: #b826b8;
  background-color: #f5f8f8;
  opacity: 0.5;
  border-radius: 40px;
}
p{
  padding-right: 5px;
  padding-left: 5px;

}
