<app-navbar></app-navbar>
<br>
<div class="header" ><h1>Welcome To VidMe!</h1>
<div class="subheader">
  <h4>
    Here At Vidme, Your Videos Tell Your Story! Why Not Take It To The Clouds! </h4>
</div>
</div>
<div class="container">
  <div class="signup">
    <h4>What Is VidMe?</h4>
    <p> Vid me is a video library forum that allows users to be able to both store their own and see other users Vid Items!</p>
    <h4>What's A Vid Item?</h4>
    <p>A Vid item is an item that contains your username, the title of the item and the URL link you want to share with others on the same forum! </p>
    <h4>Sounds Great Where Do I Start?</h4>
    <p>To get started simply register for an account and then you'll get access to creating and seeing all types of items!</p>
<button class="nav-item nav-link-edit" [routerLink]="['/signup']">Sign Up</button >
  </div>
  <div class="login">
    <h4>Login In And See The Clouds For Yourself!</h4>
    <p>We want each addition of items to feel like the sky is the limit</p>
    <h4>Signed Up already? Great Login Below!</h4>
    <p class="quote">Really Couldn't Believe This Was Made By One Person Good Job Dev Team!
    -Interapt 5/21/21
    </p>

    <div class="image-login">
    <img src="assets/images/filler-picture.png" width="200" height="180">
    </div>
      <button class="nav-item nav-link-edit" [routerLink]="['/login']">Login</button >
  </div>
</div>
