<app-navbar></app-navbar>
<br>
<div class="header" ><h1>Welcome To VidMe!</h1>
<div class="subheader">
  <h3>
    Here at VidMe, Your library tells your story! Why not take it to the Clouds!
  </h3>
</div>
</div>
<div class="container">
  <div class="signup">
    Welcome to the page
<button class="nav-item nav-link-edit" [routerLink]="['/signup']">Sign Up</button >
  </div>
  <div class="login">
    <button class="nav-item nav-link-edit" [routerLink]="['/login']">Login</button >
  </div>
</div>
