<app-navbar></app-navbar>

<section class="container">
<h4>Create New Vid Item</h4>
<form (submit)="createVid()">
  <input [(ngModel)]="vidTitle" name="vidTitle" type="text" placeholder="title" />
  <input [(ngModel)]="vidurl" name="vidURL" type="url" placeholder="vidUrl" />
  <input type="submit"/>
</form>
</section>

<section class="filler">
<div *ngIf="vids">
  <h4>All Vid Items</h4>
</div>
</section>
<section class="items">
  <ul>
    <li *ngFor="let vid of vids">
      <div class="vid-item">
        <h3>{{vid.userName}}</h3> <h4>{{vid.title}}</h4> <a href="{{vid.vidurl}}"> {{vid.vidurl}}</a>
      <button (click)="deleteVid(vid)">delete item</button>
      </div>
<!--        <input [(ngModel)]="recipeName" name="recipeName" type="text" placeholder="new recipe" />-->
    </li>
  </ul>
</section>

