<app-navbar></app-navbar>
<head>
  <style>
    a {
      text-decoration: none;
    }
    a:link {
      color: #ffffff;
      border-bottom: 1px solid #d87fe7;
    }
    a:visited {
      color: lightgrey;
      border-bottom: 1px solid #000000;
    }
    a:hover {
      color: rgba(255, 255, 255, 0.51);
      border-bottom: 1px solid #000099;
    }
  </style>
</head>
<section class="container">
<h4>Create New Vid Item</h4>
<form (submit)="createVid()">
  <input [(ngModel)]="vidTitle" name="vidTitle" type="text" placeholder="title" />
  <input [(ngModel)]="vidurl" name="vidURL" type="url" placeholder="vidUrl" />
  <input type="submit"/>
</form>
</section>

<section class="filler">
<div *ngIf="vids">
  <h2>All Vid Items</h2>
</div>
</section>
<section class="items">
  <ul>
    <li *ngFor="let vid of vids">
      <div class="vid-item">
        <h3 class="username">{{vid.userName}}</h3> <h4>{{vid.title}}</h4>
        <a href="{{vid.vidurl}}">
          <div class="image-holder">
        <img src="assets/images/video-play.jpeg" width="100" height="100" >
          </div>
            <h5>{{vid.vidurl}}</h5>
      </a>
      <button (click)="deleteVid(vid)">delete item</button>
      </div>
<!--        <input [(ngModel)]="recipeName" name="recipeName" type="text" placeholder="new recipe" />-->
    </li>

  </ul>
</section>
<a class="preview" *ngFor="let linkData of vids" [href]="linkData.url">
  <img [src]="linkData.image" />
</a>


<!--<div id="cloud">-->
<!--  <div id="bottom_c"></div>-->
<!--  <div id="right_c"></div>-->
<!--  <div id="left_c"></div>-->
<!--</div>-->
